
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/light.eot'); /* IE9 Compat Modes */
  src: url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/light.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/light.woff2') format('woff2'), /* Super Modern Browsers */
       url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/light.woff') format('woff'), /* Modern Browsers */
       url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/light.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/regular.eot'); /* IE9 Compat Modes */
  src: url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/regular.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/regular.woff') format('woff'), /* Modern Browsers */
       url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/bold.eot'); /* IE9 Compat Modes */
  src: url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/bold.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/bold.woff') format('woff'), /* Modern Browsers */
       url('/web/20250617001506im_/https://cdn2.editmysite.com/fonts/Quicksand/bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
/*
     FILE ARCHIVED ON 00:15:06 Jun 17, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:57:55 Sep 18, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.759
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.019
  esindex: 0.012
  cdx.remote: 92.454
  LoadShardBlock: 971.338 (6)
  PetaboxLoader3.datanode: 428.093 (7)
  load_resource: 178.62
  PetaboxLoader3.resolve: 104.567
*/